// Specific CSS for your home-page
body {
  background-color: #FCEDE6;
}

.home-page-text {
  color: #1A3D6F;
  text-align: center;
}

.container {
}
.container-fluid {
  margin-bottom: 30px;

  a{
  color: #1A3D6F;
  font-size: 16px;
  }
}

.card {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  flex: auto;
  flex: initial;
  flex: none;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 10px;


}

.cocktail-text {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  color: #1A3D6F;
}

.cocktailimage {
  width: 100%;
  height: 75%;
  border-radius: 10px;
}

.cocktailnames {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  color: #1A3D6F;
}

.btncontainer {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  padding: 15px;
}
.dose {
  color: #1A3D6F;
  text-align: center;
}



